.date-time {
    display: flex;
    align-items: center;
    gap:10px;
    /* cursor: pointer; */
}

.date-time input, select {
    cursor: pointer;
}

.schedule-display {
    display: flex;
    flex-direction: row;
    gap:20px;
}
